<!DOCTYPE html>
<html>
<head>
    <title>CPAK LOUNGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>CPAK LOUNGE</h2>
    <a href="/admin">Admin</a>
</nav>

<h1 class="title">Luxury Rooms</h1>

<div class="rooms">
    {% for room in rooms %}
    <div class="room-card">
        <img src="{{ url_for('static', filename='images/' + room.image) }}">
        <h3>{{ room.name }}</h3>
        <p>₦{{ room.price }}</p>

        <form action="/book" method="POST">
            <input type="hidden" name="room" value="{{ room.name }}">

            <input type="text" name="name" placeholder="Your Name" required>
            <input type="text" name="phone" placeholder="Phone Number" required>
            <input type="date" name="checkin" required>
            <input type="date" name="checkout" required>

            <button type="submit">Book Now</button>
        </form>
    </div>
    {% endfor %}
</div>

</body>
</html>